[flake8]
ignore =
    F401,  ; module imported but unused
    E402,  ; module level import not at top of file
    E305,  ; expected 2 blank lines after end of function or class
    W292,  ; no newline at end of file
exclude =
    .git,
    __pycache__,
max-complexity = 10
max-line-length = 90